@font-face {
  font-family: Lexend;
  src: url(./resources/Lexend-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Lexend";
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .2s linear;
}

a:hover {
  color: rgb(255,200,230)
}

.mainHeading {
  font-size: 30px;
}

.subHeading {
  font-size: 20px;
  color: rgba(255,255,255,.7)
}

.backgroundImg {
  background-image: url("./resources/images/darkred.png");
  background-repeat: "no-repeat";
  background-size: "cover";
}

.highlightedText {
  color: white;
  transition: all .3s linear
}

.highlightedText:hover {
  color: rgb(255,200,230)
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255,200,230);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: rgb(255,200,230);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media only screen and (min-width: 901px) {
  
}
@media only screen and (max-width: 900px) {
  .flexCollapse {
    flex-direction: column;
  }
  .responsiveLine {
    height: 2px;
    width: 200px;
  }
}
